<!doctype html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Component preview</title>

    <%= stylesheet_link_tag "govuk-frontend.min" %>
    <%= stylesheet_link_tag "moj/moj-frontend.min" %>
  </head>

  <body class="govuk-template__body govuk-frontend-supported js-enabled">

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full-width">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <%= javascript_include_tag "all.bundle", "data-turbo-track": "reload", nonce: true %>
    <%= javascript_include_tag "moj/all.bundle", "data-turbo-track": "reload", nonce: true %>

    <script nonce="<%= request.content_security_policy_nonce %>">
      document.addEventListener("DOMContentLoaded", function () {
        window.GOVUKFrontend?.initAll?.()
        window.MOJFrontend?.initAll?.()
      })
    </script>
  </body>
</html>
